<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="./styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
</head>
<body ng-app="my-app">
  <h1>Basic message app</h1>

  <div ng-controller="messageController">
    {{feedback}}
    <form  ng-submit="sendMessage(text)">
      <input class="input-box" type="text" ng-model="text" placeholder="enter your message here">
      <input type="submit">
    </form>

  <p ng-repeat="message in messages">
    {{message.text}}
  </p>

  </div>


  <script src="./messages/messages.js"></script>
  <script src="./services/services.js"></script>
  <script src="index.js"></script>
</body>
</html>