p {
  font-size: 15px;
  margin: 0;
}

.input-box {
  font-size: 20px;
  margin: 20px 0 20px 0;
  width: 250px;
}

input[type=submit] {
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  background-color: purple;
  color: white;
  border-radius: 10%;
  border: none;
}
